.router-link {
    cursor: pointer;
    color: aliceblue;
}

.side-menu {
    list-style-type: none;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

.side-menu li,
.function-icon {
    cursor: pointer;
}

.side-menu li:hover {
    text-decoration: underline;
}

.side-menu li a {
    color: inherit;
}

.delete-modal-icon {
    color: #990000;
    font-size: 75px;

}

.router-link-exact-active {
    color: #0d6efd;
}

.router-link:hover, .carousel__item:hover {
    text-decoration: underline dashed 2px;
    color: white;
}


