.router-link {
    cursor: pointer;
    color: aliceblue;
}

.side-menu{
    list-style-type: none;
    font-family: monospace;
    color: whitesmoke;
}
.admin-panel{
    color: white;
}
h1 {
    font-family: monospace;
}

.pointer-cursor {
    cursor: pointer;
}
.delete-modal-icon {
    color: #990000;
    font-size: 75px;

}

.router-link-exact-active {
    color: #1C3879;
}

.router-link:hover,
.carousel__item:hover {
    text-decoration: underline;
    color: white;
}